node_modules
npm-debug.log
pnpm-debug.log
.git
.gitignore
.gitattributes
.env.local
.env
.env.*.local
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
.turbo
.tanstack
.output
dist
dev.db
.cursorrules
.cta.json
LICENSE
README.md
.testing-library
.vitest
coverage
